h2 {
    font-size: 18px;
    font-weight: 600;
    color: var(--ion-color-primary);
}

th,
td {
    color: var(--ion-color-primary);
    font-size: 12px;
    font-weight: 600;
}

td {
    ion-icon {
        font-size: 20px;
    }
}

.statusDone {
    background: var(--ion-color-success);
    color: #fff;
    display: none;
}

.statusPending {
    background: var(--ion-color-danger);
    color: #fff;
    display: none;
}

.statusDone.show {
    display: block;
    text-align: center;
}

.statusPending.show {
    display: block;
    text-align: center;
}