.option {

    ion-img {
        width: 80px;
        height: 80px;
        margin: 0px auto;
    }

}



.upload {
    ion-button {
        height: auto;
    }
    ion-img {
        width: 80px;
        height: 80px;
    }
}